.ProductContent{padding:var(--space-xlg) 0;}
.ProductContent img{display:block; border-radius:5px;}
.ProductContent ul.info_txt{display:flex; gap:var(--space-sm);}
.ProductContent ul.info_txt li{line-height:1.6;}
.ProductContent h4{word-break:keep-all;}

.ProductContent .content_area{display:flex; justify-content:space-between; gap:var(--space-lg);}
.ProductContent .content_area .articles_area{width:calc((100% - 32px)*0.6);}
.ProductContent .content_area .estimate_area{width:100%; flex:1;}

.ProductContent .go_to{width:fit-content;}
.ProductContent .go_to a{position:relative; display:block; padding-right:var(--space-sm); font-weight:bold; line-height:1;}
.ProductContent .go_to a::after {content: ""; position:absolute; left:calc(100% - var(--space-sm)); top:50%; transform:rotate(45deg) translateY(-50%); display:block; width:10px; height:10px; border-top:2px solid #333; border-right:2px solid #333; transition:0.3s;}
.ProductContent .go_to a:hover::after{left:100%;}

.ProductContent .photo_area{display:flex; gap:var(--space-sm); width:100%; max-height:300px;}
.ProductContent .photo_area .swiper_area{width:100%; max-width:400px;}

/************************** 플러그인 CSS *******************************/

.ProductContent .swiper{border-radius:5px;}
.ProductContent .swiper-slide{height:auto; background:#eee;}

.ProductContent .swiper-button-prev{top:auto; right:var(--space-lg); bottom:var(--space-sm); left:auto;}
.ProductContent .swiper-button-prev::after{font-size:24px; color:#333;}
.ProductContent .swiper-button-next{top:auto; bottom:var(--space-sm);}
.ProductContent .swiper-button-next::after{font-size:24px; color:#333;}

/**********************************************************************/

.ProductContent .photo_area .swiper_area .tmp_img{display:flex; justify-content:center; align-items:center; width:100%; height:100%; background:#eee;}
.ProductContent .photo_area .swiper_area .tmp_img img{width:70%;}

.ProductContent .photo_area .add_area{width:100%;}
.ProductContent .photo_area .add_area{display:flex; flex-wrap:wrap; gap:var(--space-sm); width:100%;}
.ProductContent .photo_area .add_area .add_img{display:flex; justify-content:center; align-items:center; width:100%; height:calc(50% - var(--space-sm)/2); border-radius:5px; overflow:hidden;}
.ProductContent .photo_area .add_area .add_img a{display:block; width:100%; height:100%;}
.ProductContent .photo_area .add_area .add_img img{display:block; width:100%; height:100%; object-fit:cover;}

.ProductContent .Estimate{position:sticky; top:calc(100px + var(--space-xlg)); width:100%; padding:var(--space-md) var(--space-sm); border-radius:5px; filter:drop-shadow(2px 2px 5px rgba(0,0,0,0.2)); background:#fff; box-sizing:border-box;}
.ProductContent .Estimate a{display:block; color:#333; text-decoration:none; text-align:center;}
.ProductContent .Estimate .bill{padding:var(--space-sm); border-radius:5px; background:#eee;}
.ProductContent .Estimate .bill li{display:flex; justify-content:space-between; width:100%; margin-bottom:var(--space-xsm);}
.ProductContent .Estimate .bill li:last-child{margin-bottom:0;}
.ProductContent .Estimate button{width:100%; padding:var(--space-sm); border:0; border-radius:5px; color:#fff; text-align:center; /*background:#00540D;*/ background:#ccc;}
.ProductContent .Estimate .total{display:flex; justify-content:space-between; align-items:center;}

.ProductContent .WarrantyInfo p{line-height:1.8;}


@media screen and (max-width:1024px){
    .ProductContent .content_area{flex-wrap:wrap;}
    .ProductContent .content_area .articles_area{width:100%; order:2;}
}