.Footer{padding:var(--space-md) 0; border-top:2px solid #333; text-align:center; background:#fff; word-break:keep-all;}
.Footer .logo{width:150px; margin:0 auto var(--space-sm) auto;}
.Footer .logo img{display:block;}

@media screen and (max-width:1600px){
    .Footer:not(.no_quick){padding-bottom:calc(var(--space-md) + 64px);}
}

@media screen and (max-width:768px){
    .Footer .logo{width:130px;}
}