/*BrandContent 페이지 전부에 해당*/
.BrandContent{padding:var(--space-xlg) 0;}

/*Lifestyle CSS*/
.Lifestyle .welcome{position:relative; display:flex; align-items:center; gap:var(--space-sm); height:100px; padding:0 var(--space-sm); color:#fff; border-radius:5px; background:#333;}
.Lifestyle .welcome::after{content:"Welcome to Mini Lifestyle"; position:absolute; left:auto; top:50%; right:var(--space-sm); transform:translateY(-50%); font-size:var(--font-lg); font-weight:bold; color:#333; text-shadow:-1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666;}
.Lifestyle .welcome .profile_img{width:70px; height:70px; border-radius:50%; overflow:hidden;}
.Lifestyle .welcome .profile_img img{width:100%; height:100%; object-fit:cover;}

.Lifestyle .board{border:2px solid #ddd; padding:var(--space-md) var(--space-sm); border-radius:5px;}
.Lifestyle .board_title{display:flex; justify-content:space-between; align-items:center; line-height:1; font-weight:500;}
.Lifestyle .board_title button{line-height:1; border:0; background:0; cursor:pointer;}

.Lifestyle .review_list .review_item{display:flex; margin-bottom:var(--space-md); gap:var(--space-sm);}
.Lifestyle .review_list .review_item:last-child{margin-bottom:0;}

.Lifestyle .review_list .profile_img{flex-shrink:0; width:70px; height:70px; border-radius:50%; overflow:hidden;}
.Lifestyle .review_list .profile_img img{width:100%; height:100%; object-fit:cover;}
.Lifestyle .review_list .info{flex-shrink:0;}
.Lifestyle .review_list span.car{color:#999;}
.Lifestyle .review_list span.rate{color:#FFC70F;}
.Lifestyle .review_list .button_area{display:flex; flex-shrink:2; justify-content:flex-end; align-items:center; width:100%; min-width:128px; visibility:hidden;}
.Lifestyle .review_list .button_area.visible{visibility:visible;}
.Lifestyle .review_list .button_area button{width:120px; height:48px; border:0; border-radius:5px; color:#fff; background:#FF5555;}


.Lifestyle .post_area{display:flex; flex-wrap:wrap; gap:var(--space-lg); width:100%;}
.Lifestyle .post_area .board{width:calc(50% - (var(--space-lg)/2)); box-sizing:border-box;}

.Lifestyle .post_list li.post_item{margin-bottom:var(--space-md);}
.Lifestyle .post_list li.post_item:last-child{margin-bottom:0;}
.Lifestyle .post_list .car{color:#999;}



/*게시판 페이지 CSS*/

.Lifestyle.LifestyleBoard ul[class*='_list'] [class*='_item']{padding-bottom:var(--space-md); border-bottom:1px solid #ddd;}
.Lifestyle.LifestyleBoard ul[class*='_list'] [class*='_item']:last-child{padding-bottom:0; border-bottom:0;}
.Lifestyle.LifestyleBoard button.write{display:block; width:120px; height:48px; margin:var(--space-lg) 0 auto auto; border:0; border-radius:5px; color:#fff; background:#004299; cursor:pointer;}

/*에디터 페이지 CSS*/
.Lifestyle.LifestyleEditor .page_title{font-weight:500;}
.Lifestyle.LifestyleEditor form ul{display:flex; flex-wrap:wrap;}
.Lifestyle.LifestyleEditor form ul > li{display:flex;  gap:var(--space-xsm); width:100%;}
.Lifestyle.LifestyleEditor form label{flex-shrink:0;}
.Lifestyle.LifestyleEditor form select{position:relative; width:120px; height:32px; border:1px solid #ccc; border-radius:5px;}
.Lifestyle.LifestyleEditor form select option:not(:nth-child(1)){color:#FFC70F;}
.Lifestyle.LifestyleEditor form input{width:100%; flex-shrink:2; height:24px; border:1px solid #ccc; border-radius:5px;}
.Lifestyle.LifestyleEditor form textarea{width:100%; flex-shrink:2; height:320px; border:1px solid #ccc; border-radius:5px;}
.Lifestyle.LifestyleEditor .button_area{display:flex; gap:var(--space-sm); width:fit-content; margin:var(--space-lg) 0 0 auto;}
.Lifestyle.LifestyleEditor button{display:block; width:120px; height:48px; border:0; border-radius:5px; color:#fff; background:#666; cursor:pointer;}
.Lifestyle.LifestyleEditor button.submit{background:#004299;}

/*뷰어 페이지 CSS*/
.Lifestyle.LifestyleViewer .page_title{font-weight:500;}
.Lifestyle.LifestyleViewer .write_info{display:flex; justify-content:space-between;}
.Lifestyle.LifestyleViewer .user_info{display:flex; gap:var(--space-xsm)}
.Lifestyle.LifestyleViewer .user_info .car{color:#999;}
.Lifestyle.LifestyleViewer hr{height:1px; border:0; background:#ddd;}
.Lifestyle.LifestyleViewer .button_area{display:flex; gap:var(--space-sm); width:fit-content; margin:0 0 0 auto;}
.Lifestyle.LifestyleViewer .button_area button{display:block; width:150px; height:48px; border:0; border-radius:5px; color:#fff; font-size:var(--font-sm); background:#666; cursor:pointer; display:none;}
.Lifestyle.LifestyleViewer .button_area button.edit{background:#28a745;}
.Lifestyle.LifestyleViewer .button_area button.delete{background:#FF5555;}
.Lifestyle.LifestyleViewer .button_area button.visible{display:block;}