.InterestList{padding:var(--space-xlg) 0; word-break:keep-all;}
.InterestList ul.interest_list{min-height:500px;}
.InterestList ul.interest_list > li{display:flex; justify-content:space-between; align-items:center; gap:var(--space-md); margin-bottom:var(--space-md); padding-bottom:var(--space-md); border-bottom:1px solid #333;}
.InterestList ul.interest_list > li:last-child{margin-bottom:0; padding-bottom:0; border-bottom:0;}

.InterestList .info{display:flex;}
.InterestList .info img{display:block; width:100%; max-width:300px; margin-right:var(--space-md); border-radius:5px;}
.InterestList .info ul{display:flex; flex-wrap:wrap; align-items:center; align-self:center; gap:var(--space-sm);}
.InterestList .info ul > li{line-height:1.3;}
.InterestList .info ul > li:first-child{width:100%; font-family:"Cormorant";}
.InterestList .info ul > li:not(first-child){color:#444;}
.InterestList .info ul > li:last-child{width:100%;}

.InterestList .price{flex-shrink:0;}

.InterestList .func{display:flex; flex-direction:column; gap:var(--space-xsm)}
.InterestList .func button{width:150px; height:50px; font-size:var(--font-sm); font-weight:600; color:#fff; border:0; border-radius:5px;}
.InterestList .func button:first-child{/*background:#00540D;*/ background:#ccc;}
.InterestList .func button:last-child{background:#FF5555; cursor:pointer;}

.InterestList .no_result{display:flex; justify-content:center; align-items:center; min-height:500px; text-align:center;}

@media screen and (max-width:1024px){
    .InterestList ul.interest_list > li{flex-wrap:wrap;}
    .InterestList .info ul{max-width:380px;}
    .InterestList .price{width:calc(100% - 813px - var(--space-sm)); min-width:100px; text-align:center;}
    .InterestList .func{flex-direction:row; width:100%;}
    .InterestList .func button{width:50%;}
}

@media screen and (max-width:600px){
    .InterestList .info{flex-direction:column;}
    .InterestList .info img{max-width:400px; margin-right:0; margin-bottom:var(--space-sm);}
    .InterestList .info ul{max-width:100%;}
    .InterestList .info ul li:first-child{margin-bottom:0;}
}