.Main.sub{position:relative; height:400px; margin-top:100px;}
.Main.sub > img{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); z-index:-1; width:100%; height:100%; object-fit:cover;}
.Main.sub .inner_1280{display:flex; flex-direction:column; justify-content:center; align-items:center; height:100%; color:#fff;}

.Main.sub.Interest img{filter:brightness(0.9);}
.Main.sub.Model img{filter:brightness(0.5);}
.Main.sub.UsedCar img{filter:brightness(0.5);}
.Main.sub.Service img{filter:brightness(0.5);}
.Main.sub.Brand img{filter:brightness(0.7);}
.Main.sub.Product img{filter:brightness(0.6);}