.ForSale{padding:var(--space-xlg) 0; background:#fff; word-break:keep-all;}

.ForSale .search{padding:var(--space-lg) var(--space-sm); border:2px solid #333; border-radius:5px;}
.ForSale .search .swiper{max-width:1000px;}
.ForSale .search .swiper .swiper-button-prev{left:-32px; z-index:100; background:url(../../assets/main/forsale_arrow_left.png) no-repeat center center/contain;}
.ForSale .search .swiper .swiper-button-prev::after{display:none;}
.ForSale .search .swiper .swiper-button-next{background:url(../../assets/main/forsale_arrow_right.png) no-repeat center center/contain;}
.ForSale .search .swiper .swiper-button-next::after{display:none;}
.ForSale .search .swiper .swiper-slide img{display:block; width:100%; max-width:212px; margin:0 auto; cursor:pointer;}
.ForSale .search .swiper .swiper-slide img.selected{border-radius:5px; background:#eaeaea;}

.ForSale .search .swiper_area{position:relative;}
.ForSale .search .navigation_btn button{position:absolute; top:50%; z-index:2; display:block; width:30px; height:30px; border:0; border-left:4px solid #333; border-top:4px solid #333; background:none; cursor:pointer;}
.ForSale .search .navigation_btn button.swiper-button-disabled{opacity:0.3; cursor:default;}
.ForSale .search .navigation_btn button.prev{content:""; left:var(--space-lg); transform:translateY(-50%) rotate(-45deg);}
.ForSale .search .navigation_btn button.next{content:""; left:auto; right:var(--space-lg); transform:translateY(-50%) rotate(135deg);}
.ForSale .swiper-pagination-progressbar{position:static; margin-top:var(--space-md); background:#ddd;}
.ForSale .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#333;}

.ForSale .search ul.select_area{display:flex; flex-wrap:wrap; justify-content:space-around; gap:var(--space-sm); max-width:1000px; margin:0 auto;}
.ForSale .search ul.select_area li{width:calc((100% - 64px)/3);}
.ForSale .search ul.select_area li select{width:100%; height:35px; border-radius:5px;}
.ForSale .search ul.select_area li:last-child{display:flex; justify-content:space-around; align-items:center; gap:var(--space-xsm);}
.ForSale .search ul.select_area li:last-child > div{flex-shrink:0;}
.ForSale .search ul.select_area li:last-child button{flex-shrink:2; width:100%; height:35px; border:0; border-radius:5px; background:#FFA500; cursor:pointer;}

.ForSale .filtered_list .no_result{display:flex; justify-content:center; align-items:center; width:100%; height:500px; text-align:center; background:#fff;}
.ForSale .filtered_list .info{border:1px solid #333; border-radius:5px; text-align:center; overflow:hidden;}
.ForSale .filtered_list .info .function{display:flex; justify-content:flex-end; padding:var(--space-sm);}
.ForSale .filtered_list .info .function button{position:relative; display:flex; justify-content:center; align-items:center; width:32px; height:32px; padding:0; border:1px solid #333; border-radius:50%; font-size:24px; background:none; cursor:pointer;}
.ForSale .filtered_list .info .function button.active{background:#333;}
.ForSale .filtered_list .info .function button.active::after{content:"관심 매물에 추가되었습니다."; position:absolute; top:50%; right:36px; transform:translateY(-50%); width:185px; font-size:var(--font-xsm); text-align:center;}
.ForSale .filtered_list .info .function button img{display:block;}
.ForSale .filtered_list .info img.model{display:block; width:100%;}

.ForSale .filtered_list .info .txt{padding:var(--space-sm);}
.ForSale .filtered_list .info .txt h4{font-family:"Cormorant";}


@media screen and (max-width:1280px){
    .ForSale .search .navigation_btn button.prev{left:var(--space-sm);}
    .ForSale .search .navigation_btn button.next{right:var(--space-sm);}
}

@media screen and (max-width:768px){
    .ForSale h3{text-align:center;}
    .ForSale .search .navigation_btn button{width:24px; height:24px; border-left:3px solid #333; border-top:3px solid #333;}
    .ForSale .search ul.select_area li{width:calc((100% - 16px) / 2);}
}

@media screen and (max-width:480px){
    .ForSale h3{font-size:calc(var(--font-lg)*0.9);}

    .ForSale .search .navigation_btn button{top:0;}
    .ForSale .search .navigation_btn button{width:16px; height:16px;}
    .ForSale .search .navigation_btn button.prev{left:auto; right:28px; }
    .ForSale .search .navigation_btn button.next{right:4px;}

    .ForSale .search ul.select_area li{width:calc(100% - 16px);}

    .ForSale .filtered_list .no_result p{font-size:calc(var(--font-lg)*0.9);}
}