.Button{padding:var(--space-xsm); border:0; border-radius:10px; cursor:pointer; color:#fff; font-size:var(--font-md); font-weight:600; background:#aaa;}
.Button_POSITIVE{background:#49eb49;}
.Button_NEGATIVE{background:#EB4949;}